.profile-logo {
    height: 14rem;
    width: 14rem;
    margin-top: 2rem;
    display: inline-block;
    position: relative;
    z-index: 5;
    transition: all 0.2s ease-in-out;
    animation: dropin 1s ease-in-out 0.4s 1 normal both;
    position: relative;
    border-radius: 50%;
    backface-visibility: hidden;
    transition: all 0.5s ease-in-out;
    perspective: 1500px;
}  
img {
    position: relative;
    border: 0.8rem solid ;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    transition: all 0.5s ease-in-out;
    perspective: 1500px;
  }

  .profile-logo::after {
    content: 'Pranav Kapoor';
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e74c3c;
    border: 0.8rem solid ;
    top: 0px;
    left: 0px;
    z-index: 10;
    font-size: 0.8em;
    transition: all 0.5s ease-in-out;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    perspective: 1500px;
  }
  img:hover {
    transform: rotateY(180deg);
  }

  .profile-logo:hover::after{
        transform: rotateY(0deg);
  }