<!--<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
  <button (click)="toggle()">{{ isOpen ? 'Open' : 'Closed' }}</button>
</div>-->
<div id="landing-page" [@flyInOutTrigger]>
  <div class="container">
    <app-profile-pic class="dp-logo"></app-profile-pic>
    <h4 class="short-bio">Student | Developer | Contributor</h4>

    <q class="quote">I'm Nothing..doing Everything..to be Something..</q>
    <div class="name">
      <p>
        PRANAV KAPOOR
      </p>
      <div class="strip"></div>
    </div>
</div>