
h1{
    font-size: 3.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.dp-logo {
    font-size: 2rem;
    animation: 1s ease-in-out 0.2s both fadeIn;
  }

  .strip{
    display: inline-block;
    position: relative;
    width: 28rem;
    margin: auto;
    margin-bottom: 2rem;
    animation: 1s ease-in-out 0.8s both fadeIn;
    transition: 0.3s all ease-in-out;
    content: '';
    height: 1px;
    background-color: #ffffff;
 
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }