<h2>My Pokemons</h2>
<ul class="pokemons">
  <li *ngFor="let pokemon of pokemons" >
    <a routerLink="/detail/{{pokemon.id}}">
      <span class="badge">{{pokemon.id}}</span> {{pokemon.name}}
      </a>
      <button class="delete" title="delete pokemon" (click)="delete(pokemon)">x</button>
  </li>
</ul>
<div>
    <label>Pokemon name:
      <input #pokemonName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(pokemonName.value); pokemonName.value=''">
      add
    </button>
  </div>