<div id="skills" [@flyInOutTrigger]>
  <div class="skill-icons">
    <h3>Programming Languages & Tools</h3>
    <div class="skill-icon-list">
        <i class="skill-icon-list-item devicon-java-plain-wordmark"></i>
        <i class="skill-icon-list-item devicon-python-plain-wordmark"></i>
        <i class="skill-icon-list-item devicon-nodejs-plain-wordmark"></i>
        <i class="skill-icon-list-item devicon-html5-plain-wordmark"></i>
        <i class="skill-icon-list-item devicon-css3-plain-wordmark"></i>
        <i class="skill-icon-list-item devicon-javascript-plain-wordmark"></i>
        <i class="skill-icon-list-item devicon-jquery-plain-wordmark"></i>
        <i class="skill-icon-list-item devicon-angularjs-plain"></i>
        <i class="skill-icon-list-item devicon-bootstrap-plain"></i>
        <i class="skill-icon-list-item devicon-mysql-plain-wordmark"></i>
        <i class="skill-icon-list-item devicon-git-plain-wordmark"></i>
        <i class="skill-icon-list-item devicon-bitbucket-plain-wordmark"></i>
        <i class="skill-icon-list-item devicon-github-plain-wordmark"></i>
        <i class="skill-icon-list-item devicon-tomcat-line-wordmark"></i>
        <i class="skill-icon-list-item devicon-ubuntu-plain-wordmark"></i>
        <i class="skill-icon-list-item devicon-visualstudio-plain"></i>
    </div>
  </div>
  <div class="skill-workflow">
      <h3>Workflow</h3>
      <ul class="workflow-points">
        <li><i class="fa fa-check"></i> Client Satisfaction First</li>
        <li><i class="fa fa-check"></i> Mobile first developement</li>
        <li><i class="fa fa-check"></i> Less code but more productivity</li>
        <li><i class="fa fa-check"></i> Flexible & adaptive developement</li>
        <li><i class="fa fa-check"></i> Test-driven developement</li>
        <li><i class="fa fa-check"></i> Learn from errors</li>
        <li><i class="fa fa-check"></i> Securing data by all means</li>
      </ul>
  </div>
</div>
