<section>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Pranav Kapoor</mat-card-title>
      <mat-card-subtitle>Sr Software Engineer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/pranav_kapoor.jpg" alt="PK">
    <mat-card-content>
      <ul>
        <li>A quick learner and hard-working individual, highly motivated who strives for challenges, and is dedicated to complete tasks to the best of my abilities.</li>
        <li>An Engineer/Developer with 5 years of experience</li>
        <li>Pro-actively keep my source code updated and contribute to open-source on Github.</li>
        <li>Keeps up to date with latest technologies for example, SaaS, PaaS & FaaS</li>
      
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</section>